extends ../layouts/LayoutDocumentation
include ../mixins/documentation/Gulp
append variables
  - var pageTitle = 'Gulp';
  - var activePage = 'gulp';
  - var pageDes = 'Build, serve and watch your project';

append mainContent
  +Gulp

