mixin BasicTableExample
  h4 Basic Table
  .table-responsive.mt-3
    table.table
      thead
        tr
          th #
          th First Name
          th Last Name
          th Username

      tbody
        tr
          td 1
          td Mark
          td Otto
          td @mdo
        tr
          td 2
          td Jacob
          td Thornton
          td @fat
        tr
          td 3
          td Larry
          td the Bird
          td @twitter

mixin DarkTableExample
  h4.mt-5 Dark Table
  .table-responsive.mt-3
    table.table.table-dark
      thead.thead-dark
        tr
          th #
          th First Name
          th Last Name
          th Username

      tbody
        tr
          td 1
          td Mark
          td Otto
          td @mdo
        tr
          td 2
          td Jacob
          td Thornton
          td @fat
        tr
          td 3
          td Larry
          td the Bird
          td @twitter

mixin BorderedTableExample
  h4.mt-5 Bordered Table
  .table-responsive.mt-3
    table.table.table-bordered
      thead
        tr
          th #
          th First Name
          th Last Name
          th Username

      tbody
        tr
          td 1
          td Mark
          td Otto
          td @mdo
        tr
          td 2
          td Jacob
          td Thornton
          td @fat
        tr
          td 3
          td Larry
          td the Bird
          td @twitter

mixin BorderedDarkTableExample
  h4.mt-5 Bordered Table
  .table-responsive.mt-3
    table.table.table-bordered.table-dark
      thead
        tr
          th #
          th First Name
          th Last Name
          th Username

      tbody
        tr
          td 1
          td Mark
          td Otto
          td @mdo
        tr
          td 2
          td Jacob
          td Thornton
          td @fat
        tr
          td 3
          td Larry
          td the Bird
          td @twitter

mixin StripedTableExample
  h4.mt-5 Striped rows
  .table-responsive.mt-3
    table.table.table-striped
      thead
        tr
          th #
          th First Name
          th Last Name
          th Username

      tbody
        tr
          td 1
          td Mark
          td Otto
          td @mdo
        tr
          td 2
          td Jacob
          td Thornton
          td @fat
        tr
          td 3
          td Larry
          td the Bird
          td @twitter
        tr
          td 4
          td Mark
          td Otto
          td @mdo
        tr
          td 5
          td Jacob
          td Thornton
          td @fat
        tr
          td 6
          td Larry
          td the Bird
          td @twitter

mixin StripedDarkTableExample
  h4.mt-5 Striped rows
  .table-responsive.mt-3
    table.table.table-dark.table-striped.ta
      thead
        tr
          th #
          th First Name
          th Last Name
          th Username

      tbody
        tr
          td 1
          td Mark
          td Otto
          td @mdo
        tr
          td 2
          td Jacob
          td Thornton
          td @fat
        tr
          td 3
          td Larry
          td the Bird
          td @twitter
        tr
          td 4
          td Mark
          td Otto
          td @mdo
        tr
          td 5
          td Jacob
          td Thornton
          td @fat
        tr
          td 6
          td Larry
          td the Bird
          td @twitter
