extends ../layouts/LayoutTheme
include ../mixins/homes/Bicycle

prepend styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)
  script(src=`${CWD}vendors/rellax/rellax.min.js`) 


append mainContent 
  +BicycleHeader
  +BicycleAbout
  +BicycleCta
  +BicycleFeatures
  +BicycleFeatures1
  +BicycleProducts 
  +BicycleSignUp