mixin About 
  .col-lg-10
    .mb-5
      .overflow-hidden
        h1.text-decoration-underline.fs-5.fs-md-4.mb-0(data-zanim-xs!={delay: 0.4} data-zanim-trigger='scroll') our story
    p.dropcap(data-zanim-xs!={delay: 0.5} data-zanim-trigger='scroll') Sparrow is a web, IT, and marketing agency based in San Diego, California with deep roots in the action sports and lifestyle industries. Our specialty is to combine strategy with execution to deliver clearly measured results, spanning from the areas of web and content to media and beyond. We help leading global and local clients to solve problems, find efficiencies, and drive savings and sales. For nearly a decade, our results have earned us a client retention rate that far exceeds industry standards and our customer-centric approach permeates every level of our work. Infusing experience and passion into the brands we serve while delivering objective results is what we do best.

    .row.mt-5
      .col-6
        img(src=`${CWD}assets/img/about-02.jpg` alt='' data-zanim-xs!={
          delay: 0.6,
          animation: 'zoom-in'
        } data-zanim-trigger='scroll').rounded.img-fluid
      .col-6
        img(src=`${CWD}assets/img/about-01.jpg` alt='' data-zanim-xs!={
          delay: 0.7,
          animation: 'zoom-in'
        } data-zanim-trigger='scroll').rounded.img-fluid
    
    blockquote.blockquote.text-center.my-6.border.p-5.px-xl-7.rounded(data-zanim-xs!={delay: 0.1} data-zanim-trigger='scroll')
      p.blockquote-content I've been using sparrow for a long time. It outperforms all other templates. It is flexible , support is great &amp; this is the only template you will need to create awesome &amp; fast websites.
      footer.blockquote-footer.mt-0
        span.text-body-highlight Rich Piana,
        |  Themewagon Inc.

  .col-xl-4.text-center(data-zanim-xs!={delay: 0.2} data-zanim-trigger='scroll')
    h2.fs-6.fs-sm-5.mb-1 6 million
    p.fst-italic.text-body-tertiary Total Lines of Code

  .col-xl-4.text-center.mt-4.mt-xl-0(data-zanim-xs!={delay: 0.2} data-zanim-trigger='scroll')
    h2.fs-6.fs-sm-5.mb-1.text-danger 1024
    p.fst-italic.text-body-tertiary Cups of Coffee

  .col-lg-10.mt-6
    img.rounded.img-fluid(src=`${CWD}assets/img/about-03.jpg` alt='' data-zanim-xs!={
      animation: 'zoom-in',
      delay: 0.1
    } data-zanim-trigger='scroll')

    .row.gx-4.mt-6
      .col-md.col-lg-12.col-xl-6
        .overflow-hidden
          h6.text-uppercase.ls(data-zanim-xs!={delay: 0.1} data-zanim-trigger='scroll') RESEARCH
        .overflow-hidden
          p.text-justify(data-zanim-xs!={delay: 0.2} data-zanim-trigger='scroll') John Doe also spent nearly a decade in academia, where he was the editor of an academic journal and had plenty of research experience, including even a Ph.D. program. That has made the agency distinctively equipped to handle the complex problems of digital media and its need for storytelling.
      .col-md.col-lg-12.col-xl-6
        .overflow-hidden
          h6.text-uppercase.ls(data-zanim-xs!={delay: 0.1} data-zanim-trigger='scroll') MEDIA
        .overflow-hidden
          p.text-justify(data-zanim-xs!={delay: 0.2} data-zanim-trigger='scroll') Sparrow organically emerged from John Doe's work in media, which spans from websites, online and cable TV, and more. Sponsors and audiences of his platforms began asking for help in web, I.T., and marketing, leading to the founding of the agency and years of work across various industries.
