extends ../../layouts/LayoutComponent
include ../../mixins/components/sparrow/Backgrounds
include ../../mixins/common/card

append variables
  - var pageTitle = 'Backgrounds';
  - var activePage = 'backgrounds';
  
prepend scripts
  script(src=`${CWD}vendors/rellax/rellax.min.js`) 

block component 
  
  +ComponentCard({
    title: 'Background Image',
    prismClass: 'mt-4'
  }).mb-3
    +BackgroundImageDemo
    
  +ParallaxBackgrounds
  
  +ComponentCard({
    title: 'Html5 Video Background',
    prismClass: 'mt-4'
  }).mt-5
    +BackgroundVideoDemo

  +ComponentCard({
    title: 'Youtube Video',
    prismClass: 'mt-4'
  }).mt-5
    +BackgroundYoutubeVideoDemo


  +ComponentCard({
    title: 'Shades of overlay',
    description: `Use following classes with <code>.overlay</code> class for different shades.`,
    prismClass: 'mt-4'
  }).mt-5
    +ShadesOverlayDemo

