extends ../../layouts/LayoutComponent
include ../../mixins/components/sparrow/Colors

append variables
  - var pageTitle = 'Colors';
  - var activePage = 'colors';

block component 
  +ThemeColorsDemo 
  +ThemeSubtleColorsDemo
  +BgGradientDemo
  +GrayShadesDemo 