extends ../../layouts/LayoutComponent
include ../../mixins/components/sparrow/Spacing

append variables
  - var pageTitle = 'Spacing';
  - var activePage = 'spacing';

block component 
  +SpacingDocDescription
  +SpacingDoc