extends ../../layouts/LayoutComponent
include ../../mixins/components/sparrow/Zanimation
include ../../mixins/common/card


append variables
  - var pageTitle = 'Zanimation';
  - var activePage = 'zanimation';

block component 
  +Zanimation
  

